* {
    font-family: Bahnschrift;
    color: black;
}

body {
    background-color: aquamarine;
}

h1, h2, h3 {
    text-align: center;
}

table {
    width: 100%;
}

th {
    text-align: center;
    vertical-align: center;
    background-color: dodgerblue;
    font-size: large;
    width: 1%;
}

td {
    text-align: center;
    vertical-align: center;
}

.divHlavicka {
    border: 3px outset blue;
    background-color: dodgerblue;
    text-align: center;
    margin-bottom: 1%;
}

.divHlavicka p {
    display: inline;
    font-size: larger;
}

.divHlavicka .nadpis {
    width: 50%;
}

.divHlavicka .menuIkona {
    font-size: xx-large;
    cursor: pointer;
    top: 2%;
    left: 2%;
    position: absolute;
}

.divHlavicka .menuOdhlas {
    height: 9%;
    top: 3%;
    right: 2%;
    position: absolute;
}

.menu {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1%;
    border: 0px;
    background-color: dodgerblue;
}

.menu a {
    font-size: large;
    color: black;
    display: block;
    transition: 0.3s;
    padding-top: 5%;
    padding-left: 1%;
}

.menu a:hover {
    color: yellow;
}

.menu .menuZavri {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: xx-large;
    margin-left: 2%;
}

.adminMenu {
    padding: 0;
}

.adminMenuFont {
    font-size: large;
}

.adminMenuStranka {
    display: inline-block;
    background: dodgerblue;
    border: 1px solid;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.adminMenuStranka:hover {
    background: blue;
}


.sectionProdukty {
    display: flex;
    flex-wrap: wrap;
}

.produktObal {
    padding: 0.5%;
    flex-grow: 1;
    flex-basis: 16%;
}

.produktObrazok img {
    max-width: 100%;
}

.produktInfo {
    margin-top: auto;
}

@media (max-width: 920px) {
    .produktObal {
        flex: 1 25%;
    }
}

@media (max-width: 600px) {
    .produktObal {
        flex: 1 46%;
    }
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 3px;
    display: inline-block;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.button:hover {
    background-color: firebrick;
}

.formular {
    margin: auto;
    width: 50%;
    border: 3px darkblue;
    padding: 10px;
    text-align: center;
}

.cislo {
    padding: 5px 3px;
    display: inline-block;
    width: 20%;
    font-size: large;
}

.divModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modalText {
    background-color: lightsalmon;
    margin: auto;
    padding: 0.5%;
    border: saddlebrown;
    width: 80%;
}

.modalZavri {
    color: saddlebrown;
    float: right;
    font-size: xx-large;
    font-weight: bold;
}

.modalZavri:hover, .modalZavri:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

